*~
*#
*.aux
*.auxlock
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.synctex.gz(busy)
*.aux
*.nav
*.toc
*.vrb
*.snm
*.synctex(busy)
*.synctex
*.synctex.gz
*.out
*.log
*.dvi
*~
#*
.#*
**/#*#
.*.swp
~$*.pptx
~$*.ppt
*.bbl
*.blg
*.xoj
*.run.xml
*.bib.bak
*-blx.bib
*.bcf

.Makefile.coq.d
Makefile.coq.conf
*.vo
*.glob
*.v.d
*.a
*.cmi
*.cmt
*.cmx
*.cmxs
*.cmxa
*.ml4.d
*.mllib.d
*.mlpack.d
*.o
.nia.cache
.lia.cache
.coqdeps.d
N*.cmi
N*.cmx
N*.cmxs
N*.o
N*.native
.DS_Store

bedrock-refl/*.pdf
bedrock-refl/lncs/*.pdf
bedrock-refl/*.orig
bedrock-next700/*.pdf
coq-workshop-12/*.pdf
coq-workshop-14/*.pdf
coq-workshop-14/tactics_in_terms_paper_examples.tex
coq-workshop-14/Makefile.coq
coq-workshop-14/coqdoc.sty
coq-workshop-14/html
coqpl-15/*.pdf
nepls-12/*.pdf
popl-13/*.pdf
bedrock-mtis/*.pdf
bedrock-master/*.pdf
category-coq-experience/category-coq-experience-noheads.tex
category-coq-experience/category-coq-experience-arxiv.tex
category-coq-experience/category-coq-experience.pdf
category-coq-experience/category-coq-experience-noheads.pdf
category-coq-experience/category-coq-experience-arxiv.pdf
category-coq-experience/comparison-table.tex
category-coq-experience/category-coq-experience-no-urls.bib
bedrock-comp/bedrock-comp.pdf
ibm-pl-day-12/talk.pdf
eng-refl-proof/talk.pdf
bedrock-gc/*.pdf
bedrock-xml/*.pdf
caprica-workshop-14/*.pdf
*.org.tex
*.org.bib
makam-tutorial/*.pdf
makam-paper/*.pdf
makam-overview/*.pdf
makam-lightning/*.pdf
makam-shared/currfile/*
makam-*/tmp/*
urweb/*.ps
urweb/ur/*.exe
urweb/ur/*.sql
urweb/urweb.pdf
urweb/ur/*.pdf
urweb/ur/*.ps
adt-synthesis/adt-synthesis.pdf
adt-synthesis/base.zip
adt-synthesis/base
adt-synthesis/xxcolor.sty
adt-synthesis/tikz*
adt-synthesis/pgf*
adt-synthesis/t-pgf*
adt-synthesis/t-tikz*
adt-synthesis/mathtools.*
adt-synthesis/mhsetup.*
fiat-nsf/*.pdf
fiat-nsf/submit-*.tex
fiat-nsf/p.brf
bedrock-master/*.ps
urweb-opt/urweb-opt.pdf
urweb-opt/ur/*.pdf
urweb-opt/ur/*.ps
urweb-opt/figures.pdf
urweb-opt/pipeline.pdf
urweb-opt/visit.pdf
fiat-to-facade/fiat-to-facade.pdf
fiat-to-facade/facade-tr.pdf
fiat-to-facade/arch.pdf
adt-synthesis/*.orig
adt-synthesis/adt-synthesis.zip
adt-synthesis/src/*.orig
adt-synthesis/src/RefinementFigure.text
fiat-nsf/FiatOverviewFigure.tex
fiat-nsf/VisaPhotos3.jpg
fiat-nsf/*.orig
fiat-to-facade/*.orig
fiat-to-facade/figures.pdf
stencils/stencils.pdf
urweb/demo/*.exe
urweb/demo/*.sql
urweb/demo/demo.ur
monitors/*.pdf
monitors/*.tcp
monitors/*.tps
monitors/*.tmp
parsing-parse-trees/hycheck.tex
parsing-parse-trees/parsing-parses.tar.txt
parsing-parse-trees/pdf*.bib
parsing-parse-trees/*example*.tex
parsing-parse-trees/*test*.tex
parsing-parse-trees/*.atfi
parsing-parse-trees/*.cfg
parsing-parse-trees/*.def
parsing-parse-trees/*.drv
parsing-parse-trees/*.dtx
parsing-parse-trees/*.ins
parsing-parse-trees/*.lua
parsing-parse-trees/*.pdf
parsing-parse-trees/*.pl
parsing-parse-trees/*.sty
parsing-parse-trees/*.xml
/coq-workshop-18/proposal.pdf
/reification-by-parametricity/reification-by-parametricity.pdf
/reification-by-parametricity/*/Makefile.coq
/reification-by-parametricity/*/Makefile.coq.conf
/reification-by-parametricity/Makefile.coq
/reification-by-parametricity/Makefile.coq.conf
/reification-by-parametricity/benchmark/*.pdf
/reification-by-parametricity/benchmark/Benchmarks/*.log
/reification-by-parametricity/benchmark/Benchmarks/*.log.tmp
/reification-by-parametricity/benchmark/Benchmarks/*.log.ok
/reification-by-parametricity/benchmark/Benchmarks/ParsingElaborated_medium.v
/reification-by-parametricity/benchmark/Benchmarks/ParsingElaborated_quick.v
/reification-by-parametricity/benchmark/Benchmarks/ParsingElaborated_slow.v
/reification-by-parametricity/benchmark/Benchmarks/ParsingFlat_medium.v
/reification-by-parametricity/benchmark/Benchmarks/ParsingFlat_quick.v
/reification-by-parametricity/benchmark/Benchmarks/ParsingFlat_slow.v
/reification-by-parametricity/benchmark/Benchmarks/Parsing_medium.v
/reification-by-parametricity/benchmark/Benchmarks/Parsing_quick.v
/reification-by-parametricity/benchmark/Benchmarks/Parsing_slow.v
/reification-by-parametricity/benchmark/bench.tmp.wl
/reification-by-parametricity/benchmark/extra-logs/bak/
/reification-by-parametricity/*.raw.tex
/reification-by-parametricity/reification-by-parametricity-1.0.tar.gz
/reification-by-parametricity/reification-by-parametricity.tar.gz
/reification-by-parametricity/reification-by-parametricity.zip
/reification-by-parametricity/camera-ready/
/reification-by-parametricity/camera-ready.zip
/reification-by-parametricity/supplementary.tar.gz
/fiat-crypto/*.sty
/fiat-crypto/build
/lob-paper/*.600pk
/lob-paper/*.afm
/lob-paper/*.agdai
/lob-paper/*.aux
/lob-paper/*.bak
/lob-paper/*.bbl
/lob-paper/*.bbx
/lob-paper/*.bib.bak
/lob-paper/*.blg
/lob-paper/*.bst
/lob-paper/*.cbx
/lob-paper/*.cfg
/lob-paper/*.cmap
/lob-paper/*.csf
/lob-paper/*.def
/lob-paper/*.drv
/lob-paper/*.dtx
/lob-paper/*.dvi
/lob-paper/*.fd
/lob-paper/*.html
/lob-paper/*.ins
/lob-paper/*.lbx
/lob-paper/*.log
/lob-paper/*.lox
/lob-paper/*.map
/lob-paper/*.mf
/lob-paper/*.pdf
/lob-paper/*.pfb
/lob-paper/*.pfm
/lob-paper/*.pro
/lob-paper/*.ptb
/lob-paper/*.synctex.gz
/lob-paper/*.tfm
/lob-paper/*.zip
/lob-paper/*~
/lob-paper/.#*
/lob-paper/01-introduction.tex
/lob-paper/02-annotations.tex
/lob-paper/03-localization-keys.tex
/lob-paper/10-references-per-section.tex
/lob-paper/11-references-by-section.tex
/lob-paper/12-references-by-segment.tex
/lob-paper/13-references-by-keyword.tex
/lob-paper/14-references-by-category.tex
/lob-paper/15-references-by-type.tex
/lob-paper/16-numeric-prefixed-1.tex
/lob-paper/17-numeric-prefixed-2.tex
/lob-paper/18-numeric-hybrid.tex
/lob-paper/19-alphabetic-prefixed.tex
/lob-paper/20-indexing-single.tex
/lob-paper/21-indexing-multiple.tex
/lob-paper/22-indexing-subentry.tex
/lob-paper/30-style-numeric.tex
/lob-paper/31-style-numeric-comp.tex
/lob-paper/32-style-numeric-verb.tex
/lob-paper/40-style-alphabetic.tex
/lob-paper/41-style-alphabetic-verb.tex
/lob-paper/42-style-alphabetic-template.tex
/lob-paper/50-style-authoryear.tex
/lob-paper/51-style-authoryear-ibid.tex
/lob-paper/52-style-authoryear-comp.tex
/lob-paper/53-style-authoryear-icomp.tex
/lob-paper/60-style-authortitle.tex
/lob-paper/61-style-authortitle-ibid.tex
/lob-paper/62-style-authortitle-comp.tex
/lob-paper/63-style-authortitle-icomp.tex
/lob-paper/64-style-authortitle-terse.tex
/lob-paper/65-style-authortitle-tcomp.tex
/lob-paper/66-style-authortitle-ticomp.tex
/lob-paper/70-style-verbose.tex
/lob-paper/71-style-verbose-ibid.tex
/lob-paper/72-style-verbose-note.tex
/lob-paper/73-style-verbose-inote.tex
/lob-paper/74-style-verbose-trad1.tex
/lob-paper/75-style-verbose-trad2.tex
/lob-paper/76-style-verbose-trad3.tex
/lob-paper/80-style-reading.tex
/lob-paper/81-style-draft.tex
/lob-paper/82-style-debug.tex
/lob-paper/90-related-entries.tex
/lob-paper/91-sorting-schemes.tex
/lob-paper/92-bibliographylists.tex
/lob-paper/_minted-lob-preprint/
/lob-paper/_minted-lob/
/lob-paper/accsupp-example1.tex
/lob-paper/accsupp-example2.tex
/lob-paper/accsupp-test1.tex
/lob-paper/accsupp.sty
/lob-paper/accsupp.xml
/lob-paper/biblatex.sty
/lob-paper/biblatex.tex
/lob-paper/biblatex/
/lob-paper/biblatex1.sty
/lob-paper/biblatex2.sty
/lob-paper/boxchar.sty
/lob-paper/cmap.sty
/lob-paper/cmap/
/lob-paper/codelist.sty
/lob-paper/etoolbox.sty
/lob-paper/exaccent.sty
/lob-paper/extraipa.sty
/lob-paper/filecontents.sty
/lob-paper/html
/lob-paper/ifmtarg.sty
/lob-paper/ifmtarg.tex
/lob-paper/ifplatform.sty
/lob-paper/latex
/lob-paper/lazylist.sty
/lob-paper/lineno.sty
/lob-paper/lob-preprint.out
/lob-paper/lob.out
/lob-paper/logreq.sty
/lob-paper/minted.sty
/lob-paper/minted1.sty
/lob-paper/mmap.sty
/lob-paper/mmap/
/lob-paper/polytable.sty
/lob-paper/sigplanconf-template.tex
/lob-paper/slashbox.sty
/lob-paper/stmaryrd.sty
/lob-paper/stmaryrd/
/lob-paper/supplemental-anonymous
/lob-paper/supplemental-nonymous
/lob-paper/tipa*.tex
/lob-paper/tipa.sty
/lob-paper/tipa/
/lob-paper/tipaman.sty
/lob-paper/tipx.sty
/lob-paper/tone.sty
/lob-paper/ucs.sty
/lob-paper/upquote.sty
/lob-paper/vowel.sty
/lob-paper/vowel.tex
/lob-paper/xcolor*.tex
/lob-paper/xcolor.sty
/lob-paper/xifthen.sty
/lob-paper/xstring.sty
/lob-paper/xstring.tex
/rewriting/iftex.sty
/rewriting/usebib.sty
/rewriting/usebib.ins
/rewriting/usebib.dtx
/rewriting/rewriting-lower.bib
/rewriting/rewriting.pdf
/rewriting/stmaryrd.sty
/rewriting/stmaryrd/
/rewriting/rewriting-figure*.dep
/rewriting/rewriting-figure*.dpth
/rewriting/rewriting-figure*.md5
/rewriting/*.600pk
/rewriting/*.afm
/rewriting/*.agdai
/rewriting/*.aux
/rewriting/*.bak
/rewriting/*.bbl
/rewriting/*.bbx
/rewriting/*.bib.bak
/rewriting/*.blg
/rewriting/*.bst
/rewriting/*.cbx
/rewriting/*.cfg
/rewriting/*.cmap
/rewriting/*.csf
/rewriting/*.def
/rewriting/*.drv
/rewriting/*.dtx
/rewriting/*.dvi
/rewriting/*.fd
/rewriting/*.html
/rewriting/*.ins
/rewriting/*.lbx
/rewriting/*.log
/rewriting/*.lox
/rewriting/*.map
/rewriting/*.txt.md5
/rewriting/*.mf
/rewriting/*.pdf
/rewriting/*.pfb
/rewriting/*.pfm
/rewriting/*.pro
/rewriting/*.ptb
/rewriting/*.synctex.gz
/rewriting/*.tfm
/rewriting/*.zip
/rewriting/*.pyg
/rewriting/*.startpage
/fiat-to-facade/appendices/bfind/bfind.pdf
/fiat-to-facade/appendices/appendices.pdf
.cask/
.auctex/
*.bib.sav
rewriting/rewriting.appendix.startpage
rewriting/rewriting.afterbibliography.startpage
rewriting/rewriting.supplement.startpage
*.swo
