bibtex2html-1.97/*.log
bibtex2html-1.97/*.pdf
bibtex2html-1.97/*.tex
bibtex2html-1.97/*.cmi
bibtex2html-1.97/*.cmx
bibtex2html-1.97/*.aux
bibtex2html-1.97/.depend
bibtex2html-1.97/*.haux
bibtex2html-1.97/*.html
bibtex2html-1.97/*.htoc
bibtex2html-1.97/*.ml
bibtex2html-1.97/*.mli
bibtex2html-1.97/*.o
bibtex2html-1.97/*.status
bibtex2html-1.97/*.toc
bibtex2html-1.97/Makefile
bibtex2html-1.97/aux2bib
bibtex2html-1.97/bib2bib
bibtex2html-1.97/bibtex2html
jason-gross.bib.html
jason-gross.bib_bib.html
index.html
jason-gross-stripped.html
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.bbl
*.blg
*.synctex.gz
*.vo
*.v.d
*.glob
.coq-native
papers/category-coq-experience-filtered.bib
papers/category-coq-experience.html
jason-gross.html
jason-gross_bib.html
papers/category-coq-experience_bib.html
presentations/csw-2013/*.pdf
presentations/csw-2013/jgross-presentation-no-pause.tex
presentations/popl-2013/*.pdf
presentations/coq-workshop-2014/*.pdf
presentations/coq-workshop-2014/html
presentations/coq-workshop-2014/Makefile.coq
