[submodule "resume"]
	path = resume
	url = ../resume.git
[submodule "presentations/coq-8.6-wishlist"]
	path = presentations/coq-8.6-wishlist
	url = ../coq-8.6-wishlist.git
[submodule "papers/academic-papers-local"]
	path = papers/academic-papers-local
	url = ../academic-papers-local.git
[submodule "publications"]
	path = publications
	url = ../publications.git
[submodule "papers/lob-paper"]
	path = papers/lob-paper
	url = ../lob-paper.git
	branch = with-build-artifacts
[submodule "bibtex2html"]
	path = bibtex2html
	url = https://github.com/backtracking/bibtex2html.git
[submodule "presentations/coq-workshop-2018/coq"]
	path = presentations/coq-workshop-2018-coq
	url = https://github.com/coq/coq.git
[submodule "presentations/coq-workshop-2014/coq"]
	path = presentations/coq-workshop-2014-coq
	url = https://github.com/coq/coq.git
