*.aux
*.bbl
*.blg
*.d
*.glob
*.log
*.nav
*.out
*.pyg
*.snm
*.synctex.gz
*.toc
*.vo
.coq-native
/build*.tar.gz
/jason-gross-drafts-stripped.html
/jason-gross-drafts.html
/jason-gross-drafts_bib.html
Makefile.coq
Makefile.coq.conf
bibtex2html-*/*.aux
bibtex2html-*/*.cmi
bibtex2html-*/*.cmx
bibtex2html-*/*.haux
bibtex2html-*/*.html
bibtex2html-*/*.htoc
bibtex2html-*/*.log
bibtex2html-*/*.ml
bibtex2html-*/*.mli
bibtex2html-*/*.o
bibtex2html-*/*.pdf
bibtex2html-*/*.status
bibtex2html-*/*.tex
bibtex2html-*/*.toc
bibtex2html-*/.depend
bibtex2html-*/Makefile
bibtex2html-*/aux2bib
bibtex2html-*/bib2bib
bibtex2html-*/bibtex2html
build/
index.html
jason-gross-stripped.html
jason-gross.bib.bak
jason-gross.bib.html
jason-gross.bib_bib.html
jason-gross.html
jason-gross_bib.html
papers/category-coq-experience-filtered.bib
papers/category-coq-experience.html
papers/category-coq-experience_bib.html
papers/lob-bibliography-filtered.bib
papers/lob-bibliography.html
papers/lob-bibliography_bib.html
papers/source/coqpl-2021/*.pdf
presentations/coq-workshop-*/*.pdf
presentations/coq-workshop-*/Makefile.coq
presentations/coq-workshop-*/html
presentations/csw-2013/*.pdf
presentations/csw-2013/jgross-presentation-no-pause.tex
presentations/popl-2013/*.pdf
