[submodule "resume"]
	path = resume
	url = https://github.com/JasonGross/resume.git
[submodule "pdf.js"]
	path = pdf.js
	url = https://github.com/mozilla/pdf.js.git
[submodule "presentations/coq-8.6-wishlist"]
	path = presentations/coq-8.6-wishlist
	url = https://github.com/JasonGross/coq-8.6-wishlist
[submodule "papers/academic-papers-local"]
	path = papers/academic-papers-local
	url = https://github.com/JasonGross/academic-papers-local.git
[submodule "publications"]
	path = publications
	url = https://github.com/JasonGross/publications.git
