
<h1 id="jason-gross">Jason Gross</h1>

<div style="display: table">
<div class="identity">
<div class="circle-photo-wrapper">
<img src="jason-gross.jpg" class="circle-photo">
</div>

<h2 id="contact">Contact Me</h2>
<p>Email: <a href="mailto:jgross@mit.edu">jgross@mit.edu</a></p>
<div>
{% include_relative github.html %}
</div>
<div>
{% include_relative twitter.html %}
</div>

<!--p>Office: <a href="//www.csail.mit.edu/sites/default/files/resources/maps/8G/G888.gif">32-G888</a></p-->
<!--<h3>Social Media</h3>-->
<!--include virtual="twitter.html" -->
<!--include virtual="google-plus.html" -->
<!--include virtual="facebook.html" -->
<!--include virtual="stack-overflow.html" -->
<!--include virtual="linkedin.html" -->
<!--include virtual="github.html" -->
</div>

<div class="first-section">
<h2 id="resume">Code and Curriculum Vitæ</h2>
<p>
Eventually, my projects will be integrated into this page.  In the meantime, please visit my <a href="https://github.com/JasonGross">GitHub</a> account, or look at my <a href="curriculum-vitae.pdf">curriculum vitæ</a>.
</p>

<p>
  I'm a researcher at the <a href="https://intelligence.org/">Machine Intelligence Research Institute</a>.
  Humanity is building AI systems to be subject to fewer constraints of the world, let's not be subject to the AI systems either.
  I'm bushwhacking for moonshots that make this possible!
</p>
<p>
  In the ancient times, I developed <a href="https://github.com/mit-plv/fiat-crypto">Fiat Cryptography</a> which enables the majority of secure connections to the internet (the big prime numbers behind the https lock icon), reported <a href="media/coq-bug-reports-by-year.svg">the plurality of all-time bugs in the proof-assistant Coq</a> (and joined <a href="https://coq.inria.fr/coq-team.html">the dev team</a> to help handle them!), and contributed <a href="https://github.com/HoTT/Coq-HoTT/tree/master/theories/Categories">category theory to the Coq-HoTT library</a> (hoorah for beautiful, unifying mathematics).
</p>
<p>
  The compelling observation from these projects is that <a href="https://youtu.be/m-iGCCuHBvY">proof assistants are systematically slow</a>, and if we expect verified security to scale as fast as we deploy software in critical infrastructure, we need to be engineering significantly more performant ways of generating and checking formal proofs.
  I wrote this up in <a href="#Gross2021thesis">a dense PhD thesis in 2020</a>.
</p>
<p>
  If the stakes weren't so high, I would spend more time on cute maker projects, sailing, dancing, <a href="https://web.mit.edu/~jgross/Public/social-interactions/circling.txt">circling</a>, and physics.
</p>

<!--<a href="https://github.com/mit-plv/rewriter">reflective rewriting</a>, <a href="https://github.com/mit-plv/fiat-crypto">verified cryptographic primitive synthesis</a>, <a href="https://github.com/mit-plv/fiat">general program synthesis</a>-->

<!--p>
  What I do, <a href="https://xkcd.com/1133/">with only the ten-hundred most used words</a> (checked by <a href="https://splasho.com/upgoer5/">The Up-Goer Five Words Typing-Box</a>): It would be nice if we could tell computers what should happen in only a few simple words, and the computers would just know how to do it right and how do it quickly.  And it would be even nicer if using these computers led to us doing more and becoming more, rather than to us getting left behind. I'm working on making this dream come true.
</p-->
</div>

<!--div class="section">
<h2 id="hobbies">Hobbies and Fun Facts</h2>
I enjoy wind-surfing, sailing, sky-diving, programming, philosophy, dancing ((&mu;-)fusion, blues, squares, ceili(dh), contra), <a href="https://web.mit.edu/~jgross/Public/social-interactions/circling.txt">circling</a>, math, physics, learning, building, and glassblowing.  I've written up <a href="https://web.mit.edu/jgross/Public/social-interactions/">some thoughts on social interactions and emotions</a>, <a href="https://web.mit.edu/jgross/Public/stories/skydive.txt">my experience skydiving</a>, <a href="https://web.mit.edu/~jgross/Public/stories/">a couple of other personal stories</a>, <a href="https://web.mit.edu/jgross/Public/18.100C_paper_newest.pdf">a visual proof that the reals are uncountable, geared at a child</a>, <a href="https://web.mit.edu/~jgross/Public/8_06-decoherence-paper.pdf">a term paper on quantum decoherence</a>.
I also took an introduction to music composition, and the pieces I created are <a href="https://web.mit.edu/~jgross/Public/21M.065/">here</a>.

As far as I know, my Erdös Number is 5, because <a href="http://adam.chlipala.net/">Adam Chlipala</a>'s is 4.
</div-->
</div>

{% include_relative jason-gross-stripped.html %}
{% include_relative jason-gross-drafts-stripped.html %}
