blockquote, p {
    text-align: justify;
    font-style: normal;
    letter-spacing: 0;
}
.bibtexitem {
    position: relative;
}
.bibtexitem blockquote {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.bibtexitem:hover blockquote {
    visibility: visible;
    opacity: 1;
}
